/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(90, 90, 90);
    padding-bottom: 500px;
}

.class{
    border-bottom: 1px solid rgb(255, 1, 1);
    margin-bottom: 1px;
    padding: 2em;
}

nav a{
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    color: white;
    background: rgb(146, 223, 5)  ;
    padding: 5px;
    border-radius: 18px;
    margin: 7px;
}
nav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
nav{
    margin-bottom: 20px;
    background-color: rgb(50, 50, 50);
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-evenly;
    
}